<h1>Produtos</h1>
 <% if @products.present? %> 
  <% @products.each do |product| %>
    <ul>
      <li> <%= "#{product.name} - R$#{product.price}" %></li>
    </ul>
  <% end %>
<% else %>
  <h3>Sem produtos cadastrados :(</h3>
<% end %>