<div id="breadcrumb" class="section">
  <div class="container">
    <div class="row">
      <h3 class="breadcrumb-header">Meus Pedidos</h3>
    </div>
  </div>
</div>

 <!-- /.box-header -->
<div class="container">
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 10px">ID do Pedido</th>
          <th>Nome do Produto</th>
          <th>Status</th>
          <th>Data do Pedido</th>
        </tr>
        <% @my_orders.each do |z| %>
        <tr>
          <td><%= z.id %></td>
          <% @my_products = my_products(z) %>
          <td>          
          <% @my_products.each do |a| %>
            <p><%= a %></p>
          <% end %>
          </td>
          <td><%= z.status.capitalize %></td>
          <td><%= z.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
        <!-- /.box-body -->