<h1>Alo alo marciano, aqui quem fala é da terra!</h1>

<% @my_orders.each do |z| %>
<div style="border: 1px gray solid; border-radius: 5px; margin: 6px;">
    <p>Número do pedido: <%= z.id %></p>
    <% @my_products = my_products(z) %>
    <% @my_products.each do |a| %>
        <p>Nome do produto: <%= a %></p>
    <% end %>
    <p>Status: <%= z.status.capitalize %></p>
    <p>Método de pagamento: 
    <%# if z.payment_method = "bank_slip"%>
     <%# Boleto %>
    <%# elsif z.payment_method = "credit_card " %>
     <%# Cartão de Crédito %>
     <%#else %>
    <%# end %>
    <%# z.payment_method %>
    </p>
    <p>Data do pedido: <%= z.created_at %></p>
</div>
<% end %>