$('.cart-list').find('.no-products').remove()
$('.cart-list').append(`
<div class="product-widget">
  <div class="product-img">
    <img src="./img/product01.png" alt="">
  </div>
  <div class="product-body">
    <h3 class="product-name"><%= link_to @item.product.name, products_path(@item.product) %></h3>
    <h4 class="product-price">
      <span class="qty"><%= @item.quantity %></span>
      R$ <%= @item.product.price %>
    </h4>
  </div>
  <button class="delete"><i class="fa fa-close"></i></button>
</div>
`)